rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Semua orang bisa baca (untuk home & detail). Hanya admin (user login) yang bisa tambah/edit data.
    match /projects/{projectId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // User hanya bisa baca transaksinya sendiri.
    match /transactions/{transactionId} {
      allow read: if request.auth != null && (
        resource.data.userId == request.auth.uid
      );
      allow write: if false;
    }

    // Settings (API Keys, dll) hanya bisa dibaca dan ditulis oleh admin
    match /settings/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
